
body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 5%;
    background-color: #333;
    color: white;
}

nav {
    text-align: center;
    padding:5%;
    background-color: #eee;
}

nav a {
    margin:  10px;
    text-decoration: none;
    color: #333;
}

.container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.section {
    border: 1px solid black;
    padding: 20px;
    background-color: #f4f4f4;
    position: relative;
}

.section .title {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: 1px solid black;
}

#recent-blogs .blog-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}


@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #section3 {
        grid-column: span 2;
    }

    #recent-blogs .blog-grid {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }

    #recent-blogs .blog-grid {
        grid-template-columns: 1fr;
    }
}
